* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root{
  --load-val : 100;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(255, 0, 115, 0.188);
}

.container {
  position: relative;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h5{
  font-size: 30px;
  color: rgb(61, 60, 60);
  text-shadow: 0px 8px 8px rgb(78, 78, 78);
  margin-top: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
}
.container .card {
  position: relative;
  width: 320px;
  height: 400px;
  background: linear-gradient(0deg, #8bc1ffbf, #ff84e4c5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.527) , -10px -10px 20px rgba(255, 255, 255, 0.603);
}

.container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .03);
  pointer-events: none;
  z-index: 1;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.percent .num {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(36, 36, 36);
  box-shadow: 0px 10px 20px rgba(75, 75, 75, 0.644);
}

.percent .num h2 {
  color: #a2d5ff;
  font-weight: 700;
  margin-left: 12px;
  font-size: 40px;
  transition: 0.5s;
}

.card:hover .percent .num h2 {
  color: #fff;
  font-size: 60px;
}

.percent .num h2 span {
  color: #9fd9ff;
  font-size: 20px;
  transition: 0.5s;
}

.card:hover .percent .num h2 span {
  color: #fff;
}

.text {
  position: relative;
  color: #e4e4e4c5;
  margin-top: 40px;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #505050;
  stroke-width: 7;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: var(--load-val);
  animation: anime 1s  1 ease-out;
}

@keyframes anime {
  0%{stroke-dashoffset: 440;};
  100%{stroke-dashoffset: var(--load-val)};
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke:  #a2d5ff;
}